In [2]:
import pandas as pd

In [21]:
data_df = pd.read_csv('data/daily.csv')
state_df = pd.read_csv('data/us_state_population.csv')

In [22]:
#Drop the state column that had numbers
state_df = state_df.drop(columns=['state'])

#Make a list of the abbreviations of the states, District of Columbia, and Puerto Rico
state = ['AL','AK','AZ','AR','CA','CO','CT','DE','DC','FL','GA','HI','ID','IL','IN','IA','KS','KY','LA','ME','MD','MA','MI','MN','MS','MO','MT','NE','NV','NH','NJ','NM','NY','NC','ND','OH','OK','OR','PA','RI','SC','SD','TN','TX','UT','VT','VA','WA','WV','WI','WY','PR']

#Add new state column to df
state_df['state'] = state

#Reorder the columns
state_df = state_df[['state','name','popestimate2019']]

In [23]:
state_df

   state                  name  popestimate2019
0     AL               Alabama          4903185
1     AK                Alaska           731545
2     AZ               Arizona          7278717
3     AR              Arkansas          3017804
4     CA            California         39512223
5     CO              Colorado          5758736
6     CT           Connecticut          3565287
7     DE              Delaware           973764
8     DC  District of Columbia           705749
9     FL               Florida         21477737
10    GA               Georgia         10617423
11    HI                Hawaii          1415872
12    ID                 Idaho          1787065
13    IL              Illinois         12671821
14    IN               Indiana          6732219
15    IA                  Iowa          3155070
16    KS                Kansas          2913314
17    KY              Kentucky          4467673
18    LA             Louisiana          4648794
19    ME                 Maine          1344212
20    MD              Maryland          6045680
21    MA         Massachusetts          6892503
22    MI              Michigan          9986857
23    MN             Minnesota          5639632
24    MS           Mississippi          2976149
25    MO              Missouri          6137428
26    MT               Montana          1068778
27    NE              Nebraska          1934408
28    NV                Nevada          3080156
29    NH         New Hampshire          1359711
30    NJ            New Jersey          8882190
31    NM            New Mexico          2096829
32    NY              New York         19453561
33    NC        North Carolina         10488084
34    ND          North Dakota           762062
35    OH                  Ohio         11689100
36    OK              Oklahoma          3956971
37    OR                Oregon          4217737
38    PA          Pennsylvania         12801989
39    RI          Rhode Island          1059361
40    SC        South Carolina          5148714
41    SD          South Dakota           884659
42    TN             Tennessee          6829174
43    TX                 Texas         28995881
44    UT                  Utah          3205958
45    VT               Vermont           623989
46    VA              Virginia          8535519
47    WA            Washington          7614893
48    WV         West Virginia          1792147
49    WI             Wisconsin          5822434
50    WY               Wyoming           578759
51    PR           Puerto Rico          3193694